<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Hyperlink:</strong>
  <%= @source_link.Hyperlink %>
</p>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Created By:</strong>
  <%= @source_link.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @source_link.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @source_link.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @source_link.LastModifiedDate %>
</p>

  </div>
  </div>

<a class="btn btn-primary btn-sm" href="http://localhost:3000/cert_source_links/new" role="button">Add to a Certificate </a>
<a class="btn btn-primary btn-sm" href="http://localhost:3000/user_source_links/new" role="button">Add to a User Store</a>
<BR><BR>

<%= link_to 'Back', _back_url %>
