<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Hyperlink:</strong>
  <%= @source_link.Hyperlink %>
</p>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Created By:</strong>
  <%= @source_link.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @source_link.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @source_link.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @source_link.LastModifiedDate %>
</p>

<p>
  <strong>Is Deleted:</strong>
  <%= @source_link.IsDeleted %>
</p>
  </div>
  </div>

<%= link_to 'Edit', edit_source_link_path(@source_link) %> |
<%= link_to 'Back', source_links_path %>
