<h1>Editing User Store Source Link</h1>

<%= form_for(@user_source_link) do |f| %>
    <% if @user_source_link.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user_source_link.errors.count, "error") %> prohibited this user_source_link from being saved:</h2>

          <ul>
            <% @user_source_link.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :'User Store Name' %><br>
      <%= f.collection_select :user_store_id, UserStore.all, :id, :UserStoreName, include_blank:true %>
    </div>

    <div class="field">
      <%= f.label :'Hyperlink' %><br>
      <%= f.collection_select :source_link_id, SourceLink.all, :id, :Hyperlink, include_blank:true %>
    </div>
    <div class="field">
      <%= f.label :'Last Modified By' %><br>
      <%= f.text_field :LastModifiedBy %>
    </div>
    <div class="field">
      <%= f.label :'Last Modified Date' %><br>
      <%= f.date_select :LastModifiedDate %>
    </div>
    <div class="field">
      <%= f.label :'Is Deleted' %><br>
      <%= f.check_box :IsDeleted %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Show', @user_source_link %> |
<%= link_to 'Back', user_source_links_path %>
