<p id="notice"><%= notice %></p>

<p>
  <strong>Userstore:</strong>
  <%= @user_source_link.UserStore.UserStoreName %>
</p>

<p>
  <strong>Sourcelink:</strong>
  <%= @user_source_link.SourceLink.Hyperlink %>
</p>


<p>
  <strong>Createdby:</strong>
  <%= @user_source_link.CreatedBy %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @user_source_link.CreatedDate %>
</p>

<p>
  <strong>Lastmodifiedby:</strong>
  <%= @user_source_link.LastModifiedBy %>
</p>

<p>
  <strong>Lastmodifieddate:</strong>
  <%= @user_source_link.LastModifiedDate %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @user_source_link.IsDeleted %>
</p>

<%= link_to 'Edit', edit_user_source_link_path(@user_source_link) %> |
<%= link_to 'Back', user_source_links_path %>
