<h1>Editing Source</h1>

<%= form_for(@source) do |f| %>
    <% if @source.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

          <ul>
            <% @source.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :'Source Description' %><br>
      <%= f.text_area :SourceDescription, :cols => "40", :rows => "5" %>
    </div>
    <div class="field">
      <%= f.label :'Last Modified By' %><br>
      <%= f.text_field :LastModifiedBy %>
    </div>
    <div class="field">
      <%= f.label :'Last Modified Date' %><br>
      <%= f.date_select :LastModifiedDate %>
    </div>
    <div class="field">
      <%= f.label :'Is Deleted' %><br>
      <%= f.check_box :IsDeleted %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Show', @source %> |
<%= link_to 'Back', sources_path %>
