<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Source Description:</strong>
  <%= @source.SourceDescription %>
</p>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Created By:</strong>
  <%= @source.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @source.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @source.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @source.LastModifiedDate %>
</p>

<p>
  <strong>Is Deleted:</strong>
  <%= @source.IsDeleted %>
</p>
  </div>
  </div>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>
