<h1>Updating Member Group</h1>

<%= form_for(@member_group) do |f| %>
    <% if @member_group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@member_group.errors.count, "error") %> prohibited this member_group from being saved:</h2>

          <ul>
            <% @member_group.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :'Network Email' %><br>
      <%= f.collection_select :user_id, User.all, :id, :email, include_blank:true %>
    </div>
    <div class="field">
      <%= f.label :'User Group Name' %><br>
      <%= f.collection_select :user_group_id, UserGroup.all, :id, :UserGroupName, include_blank:true %>
    </div>
    <div class="field">
      <%= f.label :'Last Modified By' %><br>
      <%= f.text_field :LastModifiedBy %>
    </div>
    <div class="field">
      <%= f.label :'Last Modified Date' %><br>
      <%= f.datetime_select :LastModifiedDate %>
    </div>
    <div class="field">
      <%= f.label :'Is Deleted' %><br>
      <%= f.check_box :IsDeleted %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'View Details', @member_group %> |
<%= link_to 'Back', member_groups_path %>
