<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Network Email:</strong>
  <%= @member_group.user.email %>
</p>

<p>
  <strong>User Group Name:</strong>
  <%= @member_group.user_group.UserGroupName %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @member_group.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @member_group.CreatedDate %>
</p>
    </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Last Modified By:</strong>
  <%= @member_group.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @member_group.LastModifiedDate %>
</p>

    </div>
  </div>

<%= link_to 'Back', member_groups_path %>
