<p id="notice"><%= notice %></p>

<p>
  <strong>Networkuser:</strong>
  <%= @member_group.NetworkUser.NetworkUsername %>
</p>

<p>
  <strong>Usergroup:</strong>
  <%= @member_group.UserGroup.UserGroupName %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @member_group.CreatedBy %>
</p>

<p>
  <strong>Createddate:</strong>
  <%= @member_group.CreatedDate %>
</p>

<p>
  <strong>Lastmodifiedby:</strong>
  <%= @member_group.LastModifiedBy %>
</p>

<p>
  <strong>Lastmodifieddate:</strong>
  <%= @member_group.LastModifiedDate %>
</p>

<p>
  <strong>Isdeleted:</strong>
  <%= @member_group.IsDeleted %>
</p>

<%= link_to 'Edit', edit_member_group_path(@member_group) %> |
<%= link_to 'Back', member_groups_path %>
