<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<h1>Identity Types</h1>

<div style="overflow-x:auto;">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>

  <BR>

  <table>
    <thead>
    <tr>
      <th>Identity Type Name</th>
      <th>Identity Type Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>


    <tbody>
    <% @identity_types.each do |identity_type| %>
        <tr>
          <td><%= identity_type.IdentityTypeName %></td>
          <td><%= identity_type.IdentityTypeDescription %></td>
          <td><%= link_to 'View Details', identity_type %></td>


          <% if policy(identity_type).update? %>
              <td><%= link_to 'Update', edit_identity_type_path(identity_type) %></td>
          <% end %>

          <% if policy(identity_type).destroy? %>
              <td><%= link_to 'Delete', identity_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

          <% if policy(identity_type).new? %>
              <td><%= link_to 'Create New Identity Type', new_identity_type_path(identity_type) %></td>
          <% end %>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>
