<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Identity Type Name:</strong>
  <%= @identity_type.IdentityTypeName %>
</p>

<p>
  <strong>Identity Type Description:</strong>
  <%= @identity_type.IdentityTypeDescription %>
</p>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Created By:</strong>
  <%= @identity_type.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @identity_type.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @identity_type.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @identity_type.LastModifiedDate %>
</p>

  </div>
  </div>

<%= link_to 'Edit', edit_identity_type_path(@identity_type) %> |
<%= link_to 'Back', identity_types_path %>
