<%= form_for(@store_access) do |f| %>
  <% if @store_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_access.errors.count, "error") %> prohibited this store_access from being saved:</h2>

      <ul>
      <% @store_access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NetworkId %><br>
    <%= f.text_field :NetworkId %>
  </div>
  <div class="field">
    <%= f.label :UserStore_id %><br>
    <%= f.number_field :UserStore_id %>
  </div>
  <div class="field">
    <%= f.label :CertStore_id %><br>
    <%= f.number_field :CertStore_id %>
  </div>
  <div class="field">
    <%= f.label :CreatedBy %><br>
    <%= f.text_field :CreatedBy %>
  </div>
  <div class="field">
    <%= f.label :CreatedDate %><br>
    <%= f.datetime_select :CreatedDate %>
  </div>
  <div class="field">
    <%= f.label :LastModifiedBy %><br>
    <%= f.text_field :LastModifiedBy %>
  </div>
  <div class="field">
    <%= f.label :LastModifiedDate %><br>
    <%= f.datetime_select :LastModifiedDate %>
  </div>
  <div class="field">
    <%= f.label :IsDeleted %><br>
    <%= f.check_box :IsDeleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
