<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<h1>Store Accesses</h1>

<div style="overflow-x:auto;">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>

  <table>
    <thead>
    <tr>
      <th>Network ID</th>
      <th>User Store Name</th>
      <th>Certificate Name</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @store_accesses.each do |store_access| %>
        <tr>
          <td><%= store_access.NetworkId %></td>
          <td><%= store_access.UserStore.UserStoreName %></td>
          <td><%= store_access.CertStore.CertStoreName %></td>
          <td><%= link_to 'View', store_access %></td>
          <td><%= link_to 'Update', edit_store_access_path(store_access) %></td>
          <td><%= link_to 'Delete', store_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
