<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>User Store Name:</strong>
  <%= @store_access.user_store.UserStoreName %>
</p>

<p>
  <strong>Certificate Name:</strong>
  <%= @store_access.cert_store.CertStoreName %>
</p>

<p>
  <strong>Network ID:</strong>
  <%= @store_access.NetworkId %>
</p>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Created By:</strong>
  <%= @store_access.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @store_access.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @store_access.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @store_access.LastModifiedDate %>
</p>

  </div>
  </div>

<%= link_to 'Back', store_accesses_path %>
