<%= form_for(@network_user) do |f| %>
  <% if @network_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@network_user.errors.count, "error") %> prohibited this network_user from being saved:</h2>

      <ul>
      <% @network_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Network First Name' %><br>
    <%= f.text_field :NetworkFirstName %>
  </div>
  <div class="field">
    <%= f.label :'Network Last Name' %><br>
    <%= f.text_field :NetworkLastName %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :'Network Username' %><br>
    <%= f.text_field :NetworkUsername %>
  </div>
  <div class="field">
    <%= f.label :'Network Password' %><br>
    <%= f.text_field :NetworkPassword %>
  </div>
  <div class="field">
    <%= f.label :'Created By' %><br>
    <%= f.text_field :CreatedBy %>
  </div>
  <div class="field">
    <%= f.label :'Created Date' %><br>
    <%= f.datetime_select :CreatedDate %>
  </div>
  <div class="field">
    <%= f.label :'Last Modified By' %><br>
    <%= f.text_field :LastModifiedBy %>
  </div>
  <div class="field">
    <%= f.label :'Last Modified Date' %><br>
    <%= f.datetime_select :LastModifiedDate %>
  </div>
  <div class="field">
    <%= f.label :'Is Deleted' %><br>
    <%= f.check_box :IsDeleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
