<%= form_for(@cert_store_role) do |f| %>
  <% if @cert_store_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cert_store_role.errors.count, "error") %> prohibited this cert_store_role from being saved:</h2>

      <ul>
      <% @cert_store_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Role_id %><br>
    <%= f.number_field :Role_id %>
  </div>
  <div class="field">
    <%= f.label :CertStore_id %><br>
    <%= f.number_field :CertStore_id %>
  </div>
  <div class="field">
    <%= f.label :CreatedBy %><br>
    <%= f.text_field :CreatedBy %>
  </div>
  <div class="field">
    <%= f.label :CreatedDate %><br>
    <%= f.datetime_select :CreatedDate %>
  </div>
  <div class="field">
    <%= f.label :LastModifiedBy %><br>
    <%= f.text_field :LastModifiedBy %>
  </div>
  <div class="field">
    <%= f.label :LastModifiedDate %><br>
    <%= f.datetime_select :LastModifiedDate %>
  </div>
  <div class="field">
    <%= f.label :IsDeleted %><br>
    <%= f.check_box :IsDeleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
