<p id="notice"><%= notice %></p>

<p>
  <strong>User Store Name:</strong>
  <%= @user_store.UserStoreName %>
</p>

<p>
  <strong>User Store Password:</strong>
  <%= @user_store.UserStorePassword %>
</p>

<p>
  <strong>User Store Expiration Date:</strong>
  <%= @user_store.UserStoreExpirationDate %>
</p>

<p>
  <strong>Source Description:</strong>
  <%= @user_store.Source.SourceDescription %>
</p>

<p>
  <strong>Environment Name:</strong>
  <%= @user_store.Environment.EnvironmentName %>
</p>

<p>
  <strong>Identity Type Name:</strong>
  <%= @user_store.IdentityType.IdentityTypeName %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @user_store.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @user_store.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @user_store.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @user_store.LastModifiedDate %>
</p>

<p>
  <strong>Is Deleted:</strong>
  <%= @user_store.IsDeleted %>
</p>

<%= link_to 'Edit', edit_user_store_path(@user_store) %> |
<%= link_to 'Back', user_stores_path %>
