<%= form_for(@user_store_role) do |f| %>
  <% if @user_store_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_store_role.errors.count, "error") %> prohibited this user_store_role from being saved:</h2>

      <ul>
      <% @user_store_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :'User Store Name' %><br>
      <%= f.collection_select :user_store_id, UserStore.all, :id, :UserStoreName, include_blank:true %>
    </div>
  <div class="field">
    <%= f.label :'Role Description' %><br>
    <%= f.collection_select :role_id, Role.all, :id, :RoleDescription, include_blank:true %>
  </div>
  <div class="field">
    <%= f.label :'Created By' %><br>
    <%= f.text_field :CreatedBy %>
  </div>
  <div class="field">
    <%= f.label :'Created Date' %><br>
    <%= f.date_select :CreatedDate %>
  </div>
  <div class="field">
    <%= f.label :'Last Modified By' %><br>
    <%= f.text_field :LastModifiedBy %>
  </div>
  <div class="field">
    <%= f.label :'Last Modified Date' %><br>
    <%= f.date_select :LastModifiedDate %>
  </div>
  <div class="field">
    <%= f.label :'Is Deleted' %><br>
    <%= f.check_box :IsDeleted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
