<h1>New Role</h1>

<%= form_for(@role) do |f| %>
    <% if @role.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

          <ul>
            <% @role.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= f.label :'Source Description' %><br>
      <%= f.collection_select :source_id, Source.all, :id, :SourceDescription, include_blank:true %>
    </div>
    <div class="field">
      <%= f.label :'Role Description' %><br>
      <%= f.text_area :RoleDescription, :cols => "40", :rows => "5" %>
    </div>
    <div class="field">
      <%= f.label :'Created By' %><br>
      <%= f.text_field :CreatedBy %>
    </div>
    <div class="field">
      <%= f.label :'Created Date' %><br>
      <%= f.datetime_select :CreatedDate %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Back', roles_path %>
