<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Source Description:</strong>
  <%= @role.source.SourceDescription %>
</p>

<p>
  <strong>Role Description:</strong>
  <%= @role.RoleDescription %>
</p>
  </div>
  </div>

<div class="panel panel-default">
  <div class="panel-body">
<p>
  <strong>Created By:</strong>
  <%= @role.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @role.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @role.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @role.LastModifiedDate %>
</p>

  </div>
  </div>

<a class="btn btn-primary btn-sm" href="http://localhost:3000/cert_store_roles/new" role="button">Add to a Certificate</a>
<a class="btn btn-primary btn-sm" href="http://localhost:3000/user_store_roles/new" role="button">Add to a User Store</a>

<BR><BR>

<%= link_to 'Back', _back_url %>
