<p id="notice"><%= notice %></p>

<p>
  <strong>Source Description:</strong>
  <%= @role.Source.SourceDescription %>
</p>

<p>
  <strong>Role Description:</strong>
  <%= @role.RoleDescription %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @role.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @role.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @role.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @role.LastModifiedDate %>
</p>

<p>
  <strong>Is Deleted:</strong>
  <%= @role.IsDeleted %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
