<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>


<h1>Environments</h1>

<div style="overflow-x:auto;">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>

  <a class="btn btn-primary btn-sm" href="http://localhost:3000/environments/new" role="button">Create New Environment</a>

  <BR><BR>

  <table>
    <thead>
    <tr>
      <th>Environment Name</th>
      <th>Environment Description</th>
      <th colspan="3"></th>
    </tr>
    </thead>


    <tbody>
    <% @environments.each do |environment| %>
        <tr>
          <td><%= environment.EnvironmentName %></td>
          <td><%= environment.EnvironmentDescription %></td>
          <td><%= link_to 'View', environment %></td>

          <% if policy(environment).update? %>
              <td><%= link_to 'Update', edit_environment_path(environment) %></td>
          <% end %>

          <% if policy(environment).destroy? %>
              <td><%= link_to 'Delete', environment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
