<h1>Certificate Store</h1>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div style="overflow-x:auto;">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>

  <%= link_to 'Create New Certificate', new_cert_store_path %>

  <table>
    <thead>
    <tr>
      <th>Certificate Name</th>
      <th>Certificate Description</th>
      <th>Certificate Password</th>
      <th>Certificate Expiration Date</th>
      <th>UNC</th>
      <th>Mime Type</th>
      <th>Source Description</th>
      <th>Environment Name</th>
      <th>Identity Type Name</th>
      <th>Created By</th>
      <th>Created Date</th>
      <th>Last Modified By</th>
      <th>Last Modified Date</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @cert_stores.each do |cert_store| %>
        <tr>
          <td><%= cert_store.CertStoreName %></td>
          <td><%= cert_store.CertStoreDescription %></td>
          <td><%= cert_store.CertStorePassword %></td>
          <td><%= cert_store.CertStoreExpirationDate %></td>
          <td><%= cert_store.unc %></td>
          <td><%= cert_store.MimeType %></td>
          <td><%= cert_store.Source.SourceDescription %></td>
          <td><%= cert_store.Environment.EnvironmentName %></td>
          <td><%= cert_store.IdentityType.IdentityTypeName %></td>
          <td><%= cert_store.CreatedBy %></td>
          <td><%= cert_store.CreatedDate %></td>
          <td><%= cert_store.LastModifiedBy %></td>
          <td><%= cert_store.LastModifiedDate %></td>
          <td><%= cert_store.IsDeleted %></td>
          <td><%= link_to 'View', cert_store %></td>
          <td><%= link_to 'Update', edit_cert_store_path(cert_store) %></td>
          <td><%= link_to 'Remove', cert_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
