<h1>New Certificate</h1>

<%= form_for(@cert_store) do |f| %>
    <% if @cert_store.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cert_store.errors.count, "error") %> prohibited this cert_store from being saved:</h2>

          <ul>
            <% @cert_store.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :'Certificate Name' %><br>
      <%= f.text_area :CertStoreName, :cols => "40", :rows => "0" %>
    </div>
    <div class="field">
      <%= f.label :'Certificate Description' %><br>
      <%= f.text_area :CertStoreDescription, :cols => "40", :rows => "5" %>
    </div>
    <div class="field">
      <%= f.label :'Certificate Password' %><br>
      <%= f.text_area :CertStorePassword, :cols => "40", :rows => "0" %>
    </div>
    <div class="field">
      <%= f.label :'Certificate Expiration Date' %><br>
      <%= f.datetime_select :CertStoreExpirationDate %>
    </div>
    <div class="field">
      <%= f.label 'Certificate File' %>
      <%= f.file_field :unc %><br />
    </div>
    <div class="field">
      <%= f.label :'Mime Type' %><br>
      <%= f.text_area :MimeType, :cols => "40", :rows => "0" %>
    </div>
    <div class="field">
      <%= f.label :'Source Description' %><br>
      <%= f.collection_select :Source_id, Source.all, :id, :SourceDescription, include_blank:true %>
    </div>
    <div class="field">
      <%= f.label :'Environment Name' %><br>
      <%= f.collection_select :Environment_id, Environment.all, :id, :EnvironmentName, include_blank:true %>
    </div>
    <div class="field">
      <%= f.label :'Identity Type Name' %><br>
      <%= f.collection_select :IdentityType_id, IdentityType.all, :id, :IdentityTypeName, include_blank:true %>
    </div>
    <div class="field">
      <%= f.label :'Created By' %><br>
      <%= f.text_field :CreatedBy %>
    </div>
    <div class="field">
      <%= f.label :'Created Date' %><br>
      <%= f.datetime_select :CreatedDate %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Back', cert_stores_path %>
