<p id="notice"><%= notice %></p>

<p>
  <strong>Certificate Name:</strong>
  <%= @cert_store.CertStoreName %>
</p>

<p>
  <strong>Certificate Description:</strong>
  <%= @cert_store.CertStoreDescription %>
</p>

<p>
  <strong>Certificate Password:</strong>
  <%= @cert_store.CertStorePassword %>
</p>

<p>
  <strong>Certificate Expiration Date:</strong>
  <%= @cert_store.CertStoreExpirationDate %>
</p>

<p>
  <strong>Certificate File:</strong>
  <%= @cert_store.unc %>
</p>

<p>
  <strong>Mime Type:</strong>
  <%= @cert_store.MimeType %>
</p>

<p>
  <strong>Source Description:</strong>
  <%= @cert_store.Source.SourceDescription %>
</p>

<p>
  <strong>Environment Name:</strong>
  <%= @cert_store.Environment.EnvironmentName %>
</p>

<p>
  <strong>Identity Type:</strong>
  <%= @cert_store.IdentityType.IdentityTypeName %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @cert_store.CreatedBy %>
</p>

<p>
  <strong>Created Date:</strong>
  <%= @cert_store.CreatedDate %>
</p>

<p>
  <strong>Last Modified By:</strong>
  <%= @cert_store.LastModifiedBy %>
</p>

<p>
  <strong>Last Modified Date:</strong>
  <%= @cert_store.LastModifiedDate %>
</p>

<p>
  <strong>Is Deleted:</strong>
  <%= @cert_store.IsDeleted %>
</p>

<%= link_to 'Edit', edit_cert_store_path(@cert_store) %> |
<%= link_to 'Back', cert_stores_path %>
