<h1>User Access Audit Log</h1>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div style="overflow-x:auto;">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
  </style>


  <table>
    <thead>
    <tr>
      <th>Record ID</th>
      <th>Table Name</th>
      <th>Attribute</th>
      <th>Previous Value</th>
      <th>Current Value</th>
      <th>Created By</th>
      <th>Created Date</th>
      <th>Last Modified By</th>
      <th>Last Modified Date</th>
      <th>Is Deleted</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @user_access_audit_logs.each do |user_access_audit_log| %>
        <tr>
          <td><%= user_access_audit_log.RecordId %></td>
          <td><%= user_access_audit_log.TableName %></td>
          <td><%= user_access_audit_log.Attribute %></td>
          <td><%= user_access_audit_log.PreviousValue %></td>
          <td><%= user_access_audit_log.CurrentValue %></td>
          <td><%= user_access_audit_log.CreatedBy %></td>
          <td><%= user_access_audit_log.CreatedDate %></td>
          <td><%= user_access_audit_log.LastModifiedBy %></td>
          <td><%= user_access_audit_log.LastModifiedDate %></td>
          <td><%= user_access_audit_log.IsDeleted %></td>
          <td><%= link_to 'View', user_access_audit_log %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br>
